/* reset css */
* {
margin:0;
padding:0;
box-sizing:boder-box;
}
/*
    1.Vị trí
    2. Kích thước
    3. Màu sắc
    4. Kiểu dáng ( Kiểu chứ, Hình tròn, Vuông, ...) */
html{
    font-family: sans-serif ;
}
.header{
    background-color: red;
    width: 100%;
    height: 100px;


}
.header .container{
    width:1286px ;
    height:41px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding:30px 77px  ;
    justify-content: space-around;

}
.header .logo{

}
.logo .logo-link{
    height: 32px;
    width: 50px;
}
.logo .logo-text{
    font-size: 34px;
}
.header .main-menu{
    height: 24px;
    width: 430px;
}
.header .main-menu ul{
    display: flex;
    list-style-type: none;
    gap: 75px;

}
.main-menu li{

}
.main-menu > ul >li a{
    text-decoration: none;
    font-size: 16px;
    color: black;

}

.header .header-icons{
    gap: 24px;
    display: flex;
}
.header-icons svg {
     width: 28px;
    height: 28px;
}




    