/* reset css */
* {
margin:0;
padding:0;
box-sizing:boder-box;
}
/*
    1.Vị trí
    2. Kích thước
    3. Màu sắc
    4. Kiểu dáng ( Kiểu chứ, Hình tròn, Vuông, ...) */

html{
    font-family: sans-serif ;
}
.header{
    background-color:#fff;
    width: 100%;
    height: 100px;


}
.header .container{
    width:1286px ;
    height:41px;
    display: flex;
    padding: 2rem;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

}
.header .logo{
    display: flex   ;
    gap: 0.3rem;
}
.logo-link svg{
    object-fit: contain;
    display: block;
}
.logo-text{
    font-size: 34px;
    font-weight: 750;
}
.header .main-menu{
    height: 24px;
    width: 430px;
    
}
.header .main-menu ul{
    display: flex;
    list-style-type: none;
    gap: 4rem;
    font-weight: 550;

}
.main-menu li :hover{
    opacity: 0.6;
}
.main-menu > ul >li a{
    text-decoration: none;
    font-size: 16px;
    color: black;

}

.header .header-icons{
    gap: 1.9rem;
    display: flex;
    /* flex-grow: 1; */
}
.header-icons svg {
     width: 28px;
    height: 28px;
}
.header-icons svg:hover{
    opacity: 0.6;
}
#slider{
    position: relative;
}
.slider-img{
    height: 700px;
    width: 100%;
    object-fit: cover;
    object-position: center;

}
.mask-slider{
    right: 9rem;
    top: 7rem;
    width: 643px;
    height: 443px;
    padding: 40px;
    display: block;
    background-color: rgb(255, 243, 227);
    position: absolute;       /*cho phần tử con đè lên phần tử cha */
    border-radius: 0.8rem;
    box-sizing: border-box;   /*giúp padding không làm tăng kích thước hộp*/

}
.mask-header{
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;       /*viết hoa tất cả các chữ*/
    letter-spacing: 3px;            /* khoảng cách giữa các chữ */
}
.mask-slogan{
    margin: 20px 0;
    font-size: 3.3rem;
    font-weight: 700;
    color: #B88E2F;
}
.mask-text{
    font-size:1.2rem ;

}
.mask-buy-now{
    margin-top: 3rem;
    padding: 25px 60px;
    font-weight: 600;
    background-color: #b88e2f;
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    box-sizing: border-box;
    text-transform: uppercase;
}
.mask-buy-now:hover{
    opacity: 0.8;
    transform: translateY(-3px);
}

.content{
    
}
.content .browse{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content .browse-title{
    font-size: 2rem;
    font-weight: 700;
    padding-top: 4rem;
    padding-bottom: 1rem;
}
.content .browse-sub{
    font-size: 1.3rem;
    opacity: 0.6;
}
.content .browse-img {
    display: flex;
    justify-content: center;
    column-gap: 3%;
    padding-top:1.5rem ;
    box-sizing: border-box;
}
.browse-img > a{
    text-decoration: none;
}
.browse-item img{
    border-radius: 20px;
    /* overflow: hidden;
    bắt thẻ a bo góc */
}
.browse-item img:hover {
    opacity: 0.7;
}
.browse-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.browse__img__sub{
    font-size: 1.5rem;
    color: black;
    font-weight: 600;
}

    